<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <p class="my-0 mr-md-auto font-weight-normal" style="color:#254117"><b><i><font face = "Times New Roman" size = "5">Shakhzod</font></i></b></p>
        <nav class="my-2 my-md-0 me-md-3">
            <a class="p-2 text-dark" href="/">Main</a>
            <a class="p-2 text-dark" href="/blog">Blog</a>
            <a class="p-2 text-dark" href="/blog/add">Add Blog</a>
            <a class="p-2 text-dark" href="/about">About us</a>
        </nav>
    </div>
</div>